html {
    background-image: url(pexels-photo-315072.jpeg);
    /*background: #eb0e15;*/
    -webkit-font-smoothing: antialiased;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

/* background color */
.topnav{
    background-color: whitesmoke;
    overflow: hidden;
}

.topnav nohover{
    float: left;
    display: block;
    font-family: serif;
    color: black;
    text-align: center;
    padding-bottom: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1.5%;
    text-decoration: none;
    font-size: 20px;
}  

/* style links */
.topnav a{
    float: left;
    display: block;
    color: black;
    font-family: sans-serif;
    text-align: center;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: #C3EBF3 ;
    color: black;
}


.topnav a:active{
    background-color: white;
    color: black;
}


body {
    background: #000;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

span {
    background-color: black;
    color:white;
}

p {
    color:white;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: 600;
    line-height: 1.3;
}

h2{
    font-weight:600;
    font-size: 23px;
    color:#7a8b8c;
}
h4{
    margin-left: 2%;
}

b, strong {
    font-weight: 600;
}

itemp{
    margin-left: 5%;
    color:white;
    font-size: 17px;   
}

/*Listing Stuff*/
ul{list-style-type: none;
    margin-left: 8%;
    margin-top: auto;
    margin-right:0;
    margin-bottom: auto;
    padding: 0;}
li a{
    color:oldlace;
    text-decoration: none;
}

/*Photo stuff*/
img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    float: right;
    background: transparent;
    border-radius: 50%;
    height: auto;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}
